/* Global */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    background-color: #ff6347; /* Couleur de fond */
    color: white;
    padding: 20px;
}

/* Titre */
h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

/* Section Conversion */
.conversion {
    background-color: #ffffff;
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0;
    font-size: 24px;
}

/* Input Containers */
.input-container {
    margin-bottom: 20px;
    text-align: left;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

input[type="file"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #ff4500;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}